@model Assignment2WebApplication.Models.Suite

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Suite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SuiteId" />
            <div class="form-group">
                <label asp-for="SuiteNumber" class="control-label"></label>
                <input asp-for="SuiteNumber" class="form-control" />
                <span asp-validation-for="SuiteNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuiteBuzzCode" class="control-label"></label>
                <input asp-for="SuiteBuzzCode" class="form-control" />
                <span asp-validation-for="SuiteBuzzCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SqFootage" class="control-label"></label>
                <input asp-for="SqFootage" class="form-control" />
                <span asp-validation-for="SqFootage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfRooms" class="control-label"></label>
                <input asp-for="NumberOfRooms" class="form-control" />
                <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBathrooms" class="control-label"></label>
                <input asp-for="NumberOfBathrooms" class="form-control" />
                <span asp-validation-for="NumberOfBathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
