@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Georgian College
    <abbr title="Phone">Phone:</abbr>
    555.555.5555
</address>

<address>
    <strong>Email:</strong> 200409255@student.georgianc.on.ca<br />
</address>
