@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Kurts Apartment Manager</h1>
</header>

<div class="row">
    <div class="col-md-3">
        <h2>Purpose</h2>
        <ul>
            <li>This website has the ability to add and edit information about an apartment building.</li>
            <li>The tables available to view are the suites and the rooms.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Suite</h2>
        <ul>
            <li>Suite Number</li>
            <li>Suite Buzz Code</li>
            <li>Square Footage of suite</li>
            <li>Number of Rooms in suite</li>
            <li>Number of Bathrooms in suite</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Room</h2>
        <ul>
            <li>Suite Number</li>
            <li>Room Number</li>
            <li>Rent Amount($)</li>
            <li>If Room Is Occupied</li>
            <li>If Room Has a Window</li>
            <li>If Room Has a Closit</li>
            <li>If Room Has a Private Bathroom</li>
        </ul>
    </div>
</div>